<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://archive.org/download/Geometry_Dash_2.11_ios_8.0/Geometry_Dash_2.11_ios_8.0.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>url</key>
                    <string>https://aalx0451.github.io/otastore/icons/geometry_dash_2.11.png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>url</key>
                    <string>https://aalx0451.github.io/otastore/icons/geometry_dash_2.11.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.ota.geometry_dash</string>
                <key>bundle-version</key>
                <string>2.11</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Geometry Dash</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>