<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://archive.org/download/ios-ipa-collection/Mini%20Metro%201.40.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>url</key>
                    <string>https://aalx0451.github.io/otastore/icons/mini_metro_1400.png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>url</key>
                    <string>https://aalx0451.github.io/otastore/icons/mini_metro_1400.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.ota.mini_metro</string>
                <key>bundle-version</key>
                <string>1400</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Mini Metro</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>